# $Id: CarpMenu.cfg 990 2007-01-21 23:20:51Z sroyalty $
#
#
##########################################################################
# Format for Crafting Menus Config Files:
#
#  Index Entry for Config:
#
#     Craftitem Index      <- This is the Index. Contains the Sub Menu Names
#     {
#      Title	   Example <- HTML Name of the Menu
#      Skill       blacksmithy  <- Skill the menu is for. Same as the ID's in pol
#      SkillID     blacksmithy  <- SkillID of the skill listed in Skill. Needs removed
#      Group       Axes    <- Used for each Sub Menu Name
#     }
#
#  Sub Menu Entry for Config:
#
#     Craftitem RingMail   <- Should match the Sub-Menu Group name in Index
#     {
#     	Item	RingmailGloves   <- For each item in the sub-menu. You use the
#                                   objtype name here, not the objtype.
#     }
#
##########################################################################
Craftitem Index
{
	//Index Menus
	Title	Stonecrafting Selection Menu
	Skill	Stonecrafting
	SkillID	Stonecrafting

	Group	Furniture
	Group	Instruments
	Group	Gargish Armament
	Group	Miscelaneous
	Group	Addons
}

Craftitem Furniture
{
	Item	StoneChair
	Item	SmallStoneBench
	Item	MediumStoneBenchDeed
	Item	LargeStoneBenchDeed
	Item	MediumStoneTableDeed
	Item	LargeStoneTableDeed
	Item	SmallGargishBedDeed
	Item	LargeGargishBedDeed
}

Craftitem Instruments
{
	Item	Audchar
}

Craftitem Miscelaneous
{
	Item	smallvase2
	Item	largevase2
	Item	statue1
	Item	statue2
	Item	statue3
	Item	statue4
	Item	statue5
	Item	bust
	Item	towersculpture1
	Item	towersculpture2
	Item	towersculpture3
	Item	CatWithBowlStatue
	Item	GargishPainting
	Item	GargishSculpture
	Item	GargishVase
}

Craftitem Addons
{
	Item	AnvilDeed
	Item	SmallForgeDeed
	Item	OvenDeed
	Item	FireplaceDeed
	Item	AbbatoirDeed
}

Craftitem Gargish Armament
{
	Item	GargishStoneArms2
	Item	GargishStoneLeggings2
	Item	GargishStoneChest2
	Item	GargishStoneKilt2
	Item	GargishLargeStoneShield
	Item	StoneWarSword
}

