#
#
##########################################################################
# Format for Crafting Menus Config Files:
#
#  Index Entry for Config:
#
#     Craftitem Index      <- This is the Index. Contains the Sub Menu Names
#     {
#      Title	   Example <- HTML Name of the Menu
#      Skill       blacksmithy  <- Skill the menu is for. Same as the ID's in pol
#      SkillID     blacksmithy  <- SkillID of the skill listed in Skill. Needs removed
#      Group       Axes    <- Used for each Sub Menu Name
#     }
#
#  Sub Menu Entry for Config:
#
#     Craftitem RingMail   <- Should match the Sub-Menu Group name in Index
#     {
#     	Item	RingmailGloves   <- For each item in the sub-menu. You use the
#                                   objtype name here, not the objtype.
#     }
#
##########################################################################
Craftitem Index
{
	//Index Menus
	Title	Tailoring Selection Menu
	Skill	Tailoring
	SkillID	Tailoring

	Group	Hats
	Group	Tops
	Group	Bottoms
	Group	Footwear
	
	Group	Misc Clothes
	Group	Misc Leather
	
	Group	Britannian Armor
	Group	Tokuno Armor
	Group	Elven Armor
	Group	Gargish Armor
}

Craftitem Hats
{
	Item	Bandana
	Item	Skullcap
	Item	Cap
	Item	Bonnet
	Item	FeatheredHat
	Item	FloppyHat
	Item	StrawHat
	Item	TallStrawHat
	Item	WideBrimHat
	Item	TricorneHat
	Item	JesterHat
	Item	WizardHat
	Item	Kasa
	Item	ClothNinjaHood
}

Craftitem Tops
{
	Item	Shirt
	Item	FancyShirt
	Item	Surcoat
	Item	Tunic
	Item	Doublet
	Item	JestersSuit
	Item	Robe
	Item	PlainDress
	Item	FancyDress
	Item	HakamaShita
	Item	ClothNinjaJacket
	Item	JinBaori
	Item	MaleKimono
	Item	FemaleKimono
	Item	Kamishimo
	Item	ElvenShirt
	Item	FancyElvenShirt
	Item	MaleElvenRobe
	Item	FemaleElvenRobe
	Item	GargishRobe
	Item	GargishFancyRobe
}

Craftitem Bottoms
{
	Item	ShortPants
	Item	LongPants
	Item	Kilt
	Item	Skirt
	Item	Hakama
	Item	TattsukeHakama
	Item	ElvenPants
}

Craftitem Footwear
{
	Item	Sandals
	Item	Shoes
	Item	LeatherBoots
	Item	ThighBoots
	Item	WarajiAndTabi
	Item	NinjaTabi
	Item	ElvenBoots
	Item	LeatherTalons
}

Craftitem Misc Clothes
{
	Item	Cloak
	Item	HalfApron
	Item	FullApron
	Item	BodySash
	Item	CurtainDeed
	Item	BannerDeed
	Item	Obi
	Item	GargoyleHalfApron
	Item	GargoyleBodySash
}

Craftitem Misc Leather
{
	Item	Bag
	Item	Pouch
	Item	Backpack
	Item	Bridle
	Item	SmallBagball
	Item	LargeBagball
	Item	ShurikenThrower
	Item	DartThrower
	Item	AxeThrower
	Item	ElvenQuiver
	Item	GargoyleBelt
}

Craftitem Britannian Armor
{
	Item	LeatherCap
	Item	LeatherGorget
	Item	LeatherGloves
	Item	LeatherSleeves
	Item	LeatherLeggings
	Item	LeatherTunic
	Item	FemaleLeather
	Item	LeatherBustier
	Item	LeatherSkirt
	Item	StuddedCap
	Item	StuddedGorget
	Item	StuddedGloves
	Item	StuddedSleeves
	Item	StuddedLeggings
	Item	StuddedTunic
	Item	FemaleStudded
	Item	StuddedBustier
	Item	LeatherShorts
	Item	DragonHelm
	Item	DragonGorget
	Item	DragonGloves
	Item	DragonSleeves
	Item	DragonLeggings
	Item	DragonBreastplate
	
}

Craftitem Tokuno Armor
{
	Item	LeatherKabuto
	Item	LeatherMempo
	Item	LeatherHiroSode
	Item	LeatherSuneate
	Item	LeatherDo
	Item	LeatherJingasa
	Item	LeatherHaidate
	Item	LeatherNinjaHood
	Item	LeatherNinjaMitts
	Item	LeatherNinjaPants
	Item	LeatherNinjaJacket
	Item	StuddedKabuto
	Item	StuddedMempo
	Item	StuddedHiroSode
	Item	StuddedSuneate
	Item	StuddedDo
	Item	StuddedJingasa
	Item	StuddedHaidate
}

Craftitem Elven Armor
{
	Item	LeafGorget
	Item	LeafGloves
	Item	LeafArms
	Item	LeafLeggings
	Item	LeafTunic
	Item	FemaleLeafTunic
	Item	LeafTonlet
	Item	WoodlandBelt
	Item	HideGorget
	Item	HideGloves
	Item	HidePauldrons
	Item	HideLeggings
	Item	HideTunic
	Item	FemaleHideTunic
}

Craftitem Gargish Armor
{
	Item	GargishClothArms2
	Item	GargishClothChest2
	Item	GargishClothKilt2
	Item	GargishClothLeggings2
	Item	ClothWingArmor
	Item	GargishLeatherChest2
	Item	GargishLeatherKilt2
	Item	GargishLeatherArms2
	Item	GargishLeatherLeggings2
	Item	LeatherWingArmor
}

