# $Id: CarpMenu.cfg 990 2007-01-21 23:20:51Z sroyalty $
#
#
##########################################################################
# Format for Crafting Menus Config Files:
#
#  Index Entry for Config:
#
#     Craftitem Index      <- This is the Index. Contains the Sub Menu Names
#     {
#      Title	   Example <- HTML Name of the Menu
#      Skill       blacksmithy  <- Skill the menu is for. Same as the ID's in pol
#      SkillID     blacksmithy  <- SkillID of the skill listed in Skill. Needs removed
#      Group       Axes    <- Used for each Sub Menu Name
#     }
#
#  Sub Menu Entry for Config:
#
#     Craftitem RingMail   <- Should match the Sub-Menu Group name in Index
#     {
#     	Item	RingmailGloves   <- For each item in the sub-menu. You use the
#                                   objtype name here, not the objtype.
#     }
#
##########################################################################
Craftitem Index
{
	//Index Menus
	Title	Carpentry Selection Menu
	Skill	Carpentry
	SkillID	Carpentry

	Group	Furniture
	Group	Containers
	Group	Instruments
	Group	Weapons
	Group	Armor
	Group	Archery
	Group	Gargish Armament
	Group	Miscelaneous
	Group	Addons
}

Craftitem Furniture
{
	Item	Stool
	Item	Bench
	Item	Chair
	Item	CushionedChair
	Item	WoodenChair
	Item	SimpleChair
	Item	Throne
	Item	SmallTable
	Item	FancyTable
	Item	WoodenTable
	Item	WritingDesk
	Item	Counter
	Item	ElvenPodium
	Item	OrnateElvenChair
	Item	CozyElvenChair
	Item	ElvenReadingChair
	Item	AlchemistTableDeed
	Item	HardwoodTableDeed
	Item	OrnateTableDeed
	Item	ElvenLoveseatDeed
	Item	GargishChair
	Item	GargishEndtable
	Item	GargishCouchDeed
	Item	GargishLongTableDeed
	Item	GargishShortTableDeed
}

Craftitem Instruments
{
	Item	Flute
	Item	Tamborine
	Item	TamborineWithRibbon
	Item	Lute
	Item	Drum
	Item	Harp
	Item	StandingHarp
	Item	BambooFlute
	Item	Fiddle
}

Craftitem Containers
{
	Item	Bookshelf
	Item	EmptyBookshelf
	Item	Winerack
	Item	BrownArmoire
	Item	CherryArmoire2
	Item	Chestofdrawers
	Item	ChestDrawerDark
	Item	DresserDeed
	Item	WoodenBox
	Item	WoodenChest
	Item	SmallCrate
	Item	MediumCrate
	Item	LargeCrate
	Item	Barrel
	Item	Keg
	Item	potionkeg
	Item	plainwoodenchest
	Item	ornatewoodenchest
	Item	gildedwoodenchest
	Item	woodenfootlocker
	Item	finishedwoodenchest
	Item	tallcabinet
	Item	shortcabinet
	Item	redarmoire
	Item	elegantarmoire
	Item	maplearmoire
	Item	tokunocherryarmoire
	Item	SimpleElvenArmoire
	Item	FancyElvenArmoire
	Item	RarewoodChest
	Item	DecorativeBox
	Item	ElvenBookshelfDeed
	Item	OrnateElvenChestDeed
	Item	ElvenWashBasinDeed
	Item	ElvenDresserDeed
	Item	GargishChest
	Item	GargishDresserDeed
}

Craftitem Miscelaneous
{
	Item	Kindling
	Item	RecallRune
	Item	ClockFrame
	Item	Torch
	Item	FishingPole
	Item	Broom
	Item	shojiscreen
	Item	bambooscreen
	Item	shojilantern
	Item	paperlantern
	Item	roundpaperlantern
	Item	statuelantern
	Item	redhanginglantern
	Item	whitehanginglantern
	Item	DecorativeAcorn
}

Craftitem Weapons
{
	Item	ShepherdsCrook
	Item	QuarterStaff
	Item	MageStaff
	Item	GnarledStaff
	Item	BlackStaff
	Item	Club
	Item	WildStaff
	Item	Tetsubo
	Item	Bokuto
	Item	Nunchaku
}

Craftitem Gargish Armament
{
	Item	SerpentstoneStaff
	Item	GargishGnarledStaff
	Item	GargishWoodenShield
	Item	GargishKiteShield
}

Craftitem Addons
{
	Item	TrainingDummyDeed
	Item	PickpocketDipDeed
	Item	SpinningWheelDeed
	Item	BedDeed
	Item	LoomDeed
	Item	MillDeed
	Item	ArcaneCircleDeed
	Item	ArcanistStatueDeed
	Item	SquirrelStatueDeed
	Item	WarriorStatueDeed

}

Craftitem Archery
{
	Item	ArrowShaft
	Item	Bow
	Item	CompositeBow
	Item	Crossbow
	Item	HeavyCrossbow
	Item	RepeatingCrossbow
	Item	Yumi
	Item	Longbow
	Item	Shortbow
}

Craftitem Armor
{
	Item	WoodenShield 
	Item	KiteShieldB1
	Item	WoodlandGorget
	Item	WoodlandGauntlets
	Item	WoodlandArms
	Item	WoodlandLeggings
	Item	WoodlandChest
	Item	FemaleWoodlandChest
	Item	RavenHelm
	Item	VultureHelm
	Item	WingedHelm
}

