

# Note, regions found later in the file override those found earlier.

Global
{
	InitialUnits    0
//Flowers
	ObjType	0x0C83
	ObjType	0x0C84
	ObjType	0x0C85
	ObjType	0x0C86
	ObjType	0x0C87
	ObjType	0x0C88
	ObjType	0x0C89
	ObjType	0x0C8A
	ObjType	0x0C8B
	ObjType	0x0C8C
	ObjType	0x0C8D
	ObjType	0x0C8E
//Hedge
	ObjType	0x0C8F
	ObjType	0x0C90
	ObjType	0x0C91
	ObjType	0x0C92
//Grass
	ObjType	0x0C93
	ObjType	0x0C94
//Palm Trees
	ObjType	0x0C95
	ObjType	0x0c96
//Plants
	ObjType	0x0C97
	ObjType	0x0C98
//Smal Palm
	ObjType	0x0C99
	ObjType	0x0C9A
	ObjType	0x0C9B
	ObjType	0x0C9C
	ObjType	0x0C9D
//An O'hii Tree
	ObjType	0x0C9E
//Fern
	ObjType	0x0C9F
	ObjType	0x0CA0
	ObjType	0x0CA1
//Grasses
	ObjType	0x0CA2
	ObjType	0x0CA3
	ObjType	0x0CA4
	ObjType	0x0CA5
	ObjType	0x0CA6
	ObjType	0x0CA7
//Bannana Trees
	ObjType	0x0CA8
	ObjType	0x0CA9
	ObjType	0x0CAA
	ObjType	0x0CAB
//Grasses
	ObjType	0x0CAC
	ObjType	0x0CAD
	ObjType	0x0CAE
	ObjType	0x0CAF
	ObjType	0x0CB0
	ObjType	0x0CB1
	ObjType	0x0CB2
	ObjType	0x0CB3
	ObjType	0x0CB4
	ObjType	0x0CB5
	ObjType	0x0CB6
	ObjType	0x0CB7
	ObjType	0x0CB8
	ObjType	0x0CB9
	ObjType	0x0CBA
	ObjType	0x0CBB
	ObjType	0x0CBC
	ObjType	0x0CBD
//Flowers
	ObjType	0x0CBE
	ObjType	0x0CBF
	ObjType	0x0CC0
	ObjType	0x0CC1
//Unused
	ObjType	0x0CC2
//grasses
	ObjType	0x0CC3
	ObjType	0x0CC4
	ObjType	0x0CC5
	ObjType	0x0CC6
	ObjType	0x0CC7
//Trees
	ObjType	0x0CC8
	ObjType	0x0CC9
	ObjType	0x0CCA
	ObjType	0x0CCB
	ObjType	0x0CCC
	ObjType	0x0CCD
	ObjType	0x0CCE
	ObjType	0x0CCF
	ObjType	0x0CD0
	ObjType	0x0CD1
	ObjType	0x0CD2
	ObjType	0x0CD3
	ObjType	0x0CD4
	ObjType	0x0CD5
	ObjType	0x0CD6
	ObjType	0x0CD7
	ObjType	0x0CD8
	ObjType	0x0CD9
	ObjType	0x0CDA
	ObjType	0x0CDB
	ObjType	0x0CDC
	ObjType	0x0CDD
	ObjType	0x0CDE
	ObjType	0x0CDF
	ObjType	0x0CE0
	ObjType	0x0CE1
	ObjType	0x0CE2
	ObjType	0x0CE3
	ObjType	0x0CE4
	ObjType	0x0CE5
	ObjType	0x0CE6
	ObjType	0x0CE7
	ObjType	0x0CE8
//Small Trees
	ObjType	0x0CE9
	ObjType	0x0CEA
//Vines
	ObjType	0x0CFB
	ObjType	0x0CEC
	ObjType	0x0CED
	ObjType	0x0CEE
	ObjType	0x0CEF
	ObjType	0x0CF0
	ObjType	0x0CF1
	ObjType	0x0CF2
//Fallen Logs (bench)
	ObjType	0x0CF3
	ObjType	0x0CF4
	ObjType	0x0CF5
	ObjType	0x0CF6
	ObjType	0x0CF7
//Trees
	ObjType	0x0CF8
	ObjType	0x0CF9
	ObjType	0x0CFA
	ObjType	0x0CFB
	ObjType	0x0CFC
	ObjType	0x0CFD
	ObjType	0x0CFE
	ObjType	0x0CFF
	ObjType	0x0D00
	ObjType	0x0D01
	ObjType	0x0D02
	ObjType	0x0D03
//Water Plants
	ObjType	0x0D04
	ObjType	0x0D05
	ObjType	0x0D06
	ObjType	0x0D07
	ObjType	0x0D08
	ObjType	0x0D09
	ObjType	0x0D0A
	ObjType	0x0D0B
//Mushrooms
	ObjType	0x0D0C
	ObjType	0x0D0D
	ObjType	0x0D0E
	ObjType	0x0D0F
	ObjType	0x0D10
	ObjType	0x0D11
	ObjType	0x0D12
	ObjType	0x0D13
	ObjType	0x0D14
	ObjType	0x0D15
	ObjType	0x0D16
	ObjType	0x0D17
	ObjType	0x0D18
	ObjType	0x0D19
//Grape Stuff
	ObjType	0x0D1A
	ObjType	0x0D1B
	ObjType	0x0D1C
	ObjType	0x0D1D
	ObjType	0x0D1E
	ObjType	0x0D1F
	ObjType	0x0D20
	ObjType	0x0D21
	ObjType	0x0D22
	ObjType	0x0D23
	ObjType	0x0D24
//Cactus
	ObjType	0x0D25
	ObjType	0x0D26
	ObjType	0x0D27
	ObjType	0x0D28
//Flowers and Small Cactus 
	ObjType	0x0D29
	ObjType	0x0D2A
	ObjType	0x0D2B
	ObjType	0x0D2C
	ObjType	0x0D2D
	ObjType	0x0D2E
	ObjType	0x0D2F
//Century Plants
	ObjType	0x0D30
	ObjType	0x0D31
//Grasses
	ObjType	0x0D32
	ObjType	0x0D33
//Morning Glories (flower)
	ObjType	0x0D34
//Big Cactus
	ObjType	0x0D35
//Flowers
	ObjType	0x0D36
//Yucca
	ObjType	0x0D37
	ObjType	0x0D38
//Turnip
	ObjType	0x0D39
	ObjType	0x0D3A
//Unused
	ObjType	0x0D3B
	ObjType	0x0D3C
	ObjType	0x0D3D
	ObjType	0x0D3E
//Brambles
	ObjType	0x0D3F
	ObjType	0x0D40
//Really Tall Trees
	ObjType	0x0D41
	ObjType	0x0D42
	ObjType	0x0D43
	ObjType	0x0D44
	ObjType	0x0D45
	ObjType	0x0D46
	ObjType	0x0D47
	ObjType	0x0D48
	ObjType	0x0D49
	ObjType	0x0D4A
	ObjType	0x0D4B
	ObjType	0x0D4C
	ObjType	0x0D4D
	ObjType	0x0D4E
	ObjType	0x0D4F
	ObjType	0x0D50
	ObjType	0x0D51
	ObjType	0x0D52
	ObjType	0x0D53
	ObjType	0x0D54
	ObjType	0x0D55
	ObjType	0x0D56
	ObjType	0x0D57
	ObjType	0x0D58
	ObjType	0x0D59
	ObjType	0x0D5A
	ObjType	0x0D5B
	ObjType	0x0D5C
	ObjType	0x0D5D
	ObjType	0x0D5E
	ObjType	0x0D5F
	ObjType	0x0D60
	ObjType	0x0D61
	ObjType	0x0D62
	ObjType	0x0D63
	ObjType	0x0D64
	ObjType	0x0D65
	ObjType	0x0D66
	ObjType	0x0D67
	ObjType	0x0D68
	ObjType	0x0D69
//Long Vines
	ObjType	0x0D6A
	ObjType	0x0D6B
	ObjType	0x0D6C
	ObjType	0x0D6D
//Tall Trees
	ObjType	0x0D6E
	ObjType	0x0D6F
	ObjType	0x0D70
	ObjType	0x0D71
	ObjType	0x0D72
	ObjType	0x0D73
	ObjType	0x0D74
	ObjType	0x0D75
	ObjType	0x0D76
	ObjType	0x0D77
	ObjType	0x0D78
	ObjType	0x0D79
	ObjType	0x0D7A
	ObjType	0x0D7B
	ObjType	0x0D7C
	ObjType	0x0D7D
	ObjType	0x0D7E
	ObjType	0x0D7F
//Long Vines
	ObjType	0x0D80
	ObjType	0x0D81
	ObjType	0x0D82
	ObjType	0x0D83
//Tall Trees
	ObjType	0x0D84
	ObjType	0x0D85
	ObjType	0x0D86
	ObjType	0x0D87
	ObjType	0x0D88
	ObjType	0x0D89
	ObjType	0x0D8A
	ObjType	0x0D8B
	ObjType	0x0D8C
	ObjType	0x0D8D
	ObjType	0x0D8E
	ObjType	0x0D8F
	ObjType	0x0D90
//Long vines
	ObjType	0x0D91
	ObjType	0x0D92
	ObjType	0x0D93
//Trees
	ObjType	0x0D94
	ObjType	0x0D95
	ObjType	0x0D96
	ObjType	0x0D97
	ObjType	0x0D98
	ObjType	0x0D99
	ObjType	0x0D9A
	ObjType	0x0D9B
	ObjType	0x0D9C
	ObjType	0x0D9D
	ObjType	0x0D9E
	ObjType	0x0D9F
	ObjType	0x0DA0
	ObjType	0x0DA1
	ObjType	0x0DA2
	ObjType	0x0DA3
	ObjType	0x0DA4
	ObjType	0x0DA5
	ObjType	0x0DA6
	ObjType	0x0DA7
	ObjType	0x0DA8
	ObjType	0x0DA9
	ObjType	0x0DAA
	ObjType	0x0DAB
//Yew Tree
	ObjType	0x12B5
	ObjType	0x12B6
	ObjType	0x12B7
	ObjType	0x12B8
	ObjType	0x12B9
	ObjType	0x12BA
	ObjType	0x12BB
	ObjType	0x12BC
	ObjType	0x12BD
	ObjType	0x12BE
	ObjType	0x12C0
	ObjType	0x12C1
	ObjType	0x12C2
	ObjType	0x12C3
	ObjType	0x12C4
	ObjType	0x12C5
	ObjType	0x12C6
	ObjType	0x12C7
//New trees
	ObjType	0x224a
	ObjType	0x224b
	ObjType	0x224c
	ObjType	0x224d
//Tokuno trees
	ObjType	0x246c
	ObjType	0x246d
	ObjType	0x246e
	ObjType	0x246f
	ObjType	0x2470
	ObjType	0x2471
	ObjType	0x2472
	ObjType	0x2473
	ObjType	0x2474
	ObjType	0x2475
	ObjType	0x2476
	ObjType	0x2477
	ObjType	0x2478
	ObjType	0x2479
	ObjType	0x247a
	ObjType	0x247b
	ObjType	0x247c
	ObjType	0x247d
	ObjType	0x247e
	ObjType	0x26ed
	ObjType	0x26ee
	ObjType	0x26ef
	ObjType	0x26f0
	ObjType	0x26f1
	ObjType	0x26f2
	ObjType	0x26f3
//Heartwood trees
	ObjType	0x309c
	ObjType	0x309d
	ObjType	0x309e
	ObjType	0x309f
	ObjType	0x30a0
	ObjType	0x30a1
	ObjType	0x30a2
	ObjType	0x30a3
	ObjType	0x30a4
	ObjType	0x30a5
	ObjType	0x30a6
	ObjType	0x30a7
	ObjType	0x30a8
	ObjType	0x30a9
	ObjType	0x30aa
	ObjType	0x30ab
	ObjType	0x30ac
	ObjType	0x30ad
	ObjType	0x30ae
	ObjType	0x30af
	ObjType	0x30b0
	ObjType	0x30b1
	ObjType	0x30b2
	ObjType	0x30b3
	ObjType	0x30b4
	ObjType	0x30b5
	ObjType	0x30b6
	ObjType	0x30b7
	ObjType	0x30b8
	ObjType	0x30b9
	ObjType	0x30ba
	ObjType	0x30bb
	ObjType	0x30bc
	ObjType	0x30bd
	ObjType	0x30be
	ObjType	0x30bf
	ObjType	0x30c0
	ObjType	0x30c1
	ObjType	0x30c2
	ObjType	0x30c3
	ObjType	0x30c4
	ObjType	0x30c5
	ObjType	0x30c6
	ObjType	0x30c7
	ObjType	0x30c8
	ObjType	0x30c9
	ObjType	0x30ca
	ObjType	0x30cb
	ObjType	0x30cc
	ObjType	0x30cd
	ObjType	0x30ce
	ObjType	0x30cf
	ObjType	0x30d0
	ObjType	0x30d1
	ObjType	0x30d2
	ObjType	0x30d3
	ObjType	0x30d4
	ObjType	0x30d5
	ObjType	0x30d6
	ObjType	0x30d7
	ObjType	0x30d8
	ObjType	0x30d9
	ObjType	0x30da
	ObjType	0x30db
	ObjType	0x30dc
	ObjType	0x30dd
	ObjType	0x30de
//more new trees
	ObjType	0x3122
	ObjType	0x3123
	ObjType	0x3124
	ObjType	0x36a0
	ObjType	0x36a1
//more Heartwood trees
	ObjType	0x39a3
	ObjType	0x39a4
	ObjType	0x39a5
	ObjType	0x39a6
	ObjType	0x39a7
	ObjType	0x39a8
	ObjType	0x39a9
	ObjType	0x39aa
	ObjType	0x39ab
	ObjType	0x39ac
	ObjType	0x39ad
	ObjType	0x39ae
	ObjType	0x39af
	ObjType	0x39b0
	ObjType	0x39b1
	ObjType	0x39b2
	ObjType	0x39b3
	ObjType	0x39b4
	ObjType	0x39b5
	ObjType	0x39b6
	ObjType	0x39b7
	ObjType	0x39b8
	ObjType	0x39b9
	ObjType	0x39ba
	ObjType	0x39bb
	ObjType	0x39bc
	ObjType	0x39bd
	ObjType	0x39be
	ObjType	0x39bf
	ObjType	0x39c0
	ObjType	0x39c1
	ObjType	0x39c2
	ObjType	0x39c3
	ObjType	0x39c4
	ObjType	0x39c5
	ObjType	0x39c6
	ObjType	0x39c7
	ObjType	0x39c8
	ObjType	0x39c9
	ObjType	0x39ca
	ObjType	0x39cb
	ObjType	0x39cc
	ObjType	0x39cd
	ObjType	0x39ce
	ObjType	0x39cf
	ObjType	0x39d0
	ObjType	0x39d1
	ObjType	0x39d2
	ObjType	0x39d3
	ObjType	0x39e7
	ObjType	0x39e8
	ObjType	0x39e9
	ObjType	0x39ea
	ObjType	0x39eb
	ObjType	0x39ec
	ObjType	0x39ed
	ObjType	0x39ee
	ObjType	0x39ef
	ObjType	0x39f0
	ObjType	0x39f1
	ObjType	0x39f2
	ObjType	0x39f3
	ObjType	0x39f4
	ObjType	0x39f5
	ObjType	0x39f6
	ObjType	0x39f7
	ObjType	0x39f8
	ObjType	0x39f9
	ObjType	0x39fa
	ObjType	0x39fb
	ObjType	0x39fc
	ObjType	0x39fd
	ObjType	0x39fe
	ObjType	0x39ff
	ObjType	0x3a00
	ObjType	0x3a01
	ObjType	0x3a02
	ObjType	0x3a03
	ObjType	0x3a04
	ObjType	0x3a05
	ObjType	0x3a06
	ObjType	0x3a07
	ObjType	0x3a08
	ObjType	0x3a09
	ObjType	0x3a0a
	ObjType	0x3a0b
	ObjType	0x3a0c
	ObjType	0x3a0d
	ObjType	0x3a0e
	ObjType	0x3a0f
	ObjType	0x3a10
	ObjType	0x3a11
	ObjType	0x3a12
	ObjType	0x3a13
	ObjType	0x3a14
	ObjType	0x3a15
	ObjType	0x3a16
	ObjType	0x3a17
	ObjType	0x3a18
	ObjType	0x3a19
	ObjType	0x3a1a
	ObjType	0x3a1b
	ObjType	0x3a1c
	ObjType	0x3a1d
	ObjType	0x3a1e
	ObjType	0x3a33
	ObjType	0x3a34
	ObjType	0x3a35
	ObjType	0x3a36
	ObjType	0x3a37
	ObjType	0x3a38
	ObjType	0x3a39
	ObjType	0x3a3a
	ObjType	0x3a3b
	ObjType	0x3a3c
	ObjType	0x3a3d
	ObjType	0x3a3e
	ObjType	0x3a3f
	ObjType	0x3a40
	ObjType	0x3a41
	ObjType	0x3a42
	ObjType	0x3a43
	ObjType	0x3a44
	ObjType	0x3a9c
	ObjType	0x3a9d
	ObjType	0x3a9e
	ObjType	0x3a9f
	ObjType	0x3aa0
	ObjType	0x3aa1
	ObjType	0x3aa2
	ObjType	0x3aa3
	ObjType	0x3aa4
	ObjType	0x3aa5
	ObjType	0x3aa6
	ObjType	0x3aa7
	ObjType	0x3aa8
	ObjType	0x3aa9
	ObjType	0x3aaa
	ObjType	0x3aab
	ObjType	0x3aac
	ObjType	0x3aad
	ObjType	0x3aae
	ObjType	0x3aaf
	ObjType	0x3ab0
	ObjType	0x3ab1
	ObjType	0x3ab2
	ObjType	0x3ab3
	ObjType	0x3ab4
	ObjType	0x3ab5
	ObjType	0x3ab6
	ObjType	0x3ab7
	ObjType	0x3ab8
	ObjType	0x3ab9
	ObjType	0x3aba
	ObjType	0x3abb
	ObjType	0x3abc
	ObjType	0x3abd
	ObjType	0x3abe
	ObjType	0x3abf
	ObjType	0x3ac0
	ObjType	0x3ac1
	ObjType	0x3ac2
	ObjType	0x3ac3
	ObjType	0x3ac4
	ObjType	0x3ac5
	ObjType	0x3ac6
	ObjType	0x3ac7
	ObjType	0x3ac8
	ObjType	0x3ac9
	ObjType	0x3aca
	ObjType	0x3acb
	ObjType	0x3acc
	ObjType	0x3acd
	ObjType	0x3ace
	ObjType	0x3acf
	ObjType	0x3ad0
	ObjType	0x3ad1
	ObjType	0x3ad2
	ObjType	0x3ad3
	ObjType	0x3ad4
	ObjType	0x3ad5
	ObjType	0x3ad6
	ObjType	0x3ad7
	ObjType	0x3ad8
	ObjType	0x3ad9
	ObjType	0x3ada
	ObjType	0x3adb
	ObjType	0x3adc
	ObjType	0x3add
	ObjType	0x3ade
	ObjType	0x3adf
	ObjType	0x3ae0
	ObjType	0x3ae1
	ObjType	0x3ae2
	ObjType	0x3ae3
	ObjType	0x3ae4
	ObjType	0x3ae5
	ObjType	0x3ae6
	ObjType	0x3ae7
	ObjType	0x3ae8
	ObjType	0x3ae9
	ObjType	0x3aea
	ObjType	0x3aeb
	ObjType	0x3aec
	ObjType	0x3aed
	ObjType	0x3aee
	ObjType	0x3aef
//Farming objects
	ObjType	0x0C5C
	ObjType	0x0C5D
	ObjType	0x0C61
	ObjType	0x0C62
	ObjType	0x0C63
	ObjType	0x0C6A
	ObjType	0x0C6B
	ObjType	0x0C6C
	ObjType	0x0C6F
	ObjType	0x0C72
	ObjType	0x0C73
	ObjType	0x0C74
	ObjType	0x0C75
	ObjType	0x0C76
	ObjType	0x0C79
	ObjType	0x0C7A
	ObjType	0x0C7B
	ObjType	0x0C7C

}

Region The Whole World
{
    UnitsPerArea        50
    SecondsPerRegrow    60
    Capacity            10000
    Range               0 0 5119 4095
}

Region Heartwood
{
    UnitsPerArea        50
    SecondsPerRegrow    60
    Capacity            2000
    Range               6910 258 7167 511
}
