###################
##	Certain areas won't allow players to leave behind NPC clones - this file
##	defines those area.  Pets and henchmen left in those areas will move to
##	the specified area (an inn?) leaving the area clear
##
##	logout [areaname]
##	{
##		MinX		[Min X of the area]
##		Maxx		[Max X of the area]
##		MinY		[Min Y of the area]
##		MaxY		[Max Y of the area]
##		TeletoX	[followers teleport location X]
##		TeletoY	[followers teleport location Y]
##		TeletoZ	[followers teleport location Z]
##	}
##
###################

logout moonglowbank
{
	MinX		4461
	MaxX		4481
	MinY		1150
	MaxY		1182
	TeletoX	4395
	TeletoY	1203
	TeletoZ	0
}

logout britainbank
{
	MinX		1430
	MaxX		1480
	MinY		1540
	MaxY		1575
	TeletoX	1503
	TeletoY	1622
	TeletoZ	21
}

logout jhelombank
{
	MinX		1310
	MaxX		1328
	MinY		3766
	MaxY		3784
	TeletoX	1364
	TeletoY	3827
	TeletoZ	0
}

logout maginciabank
{
	MinX		3710
	MaxX		3728
	MinY		2166
	MaxY		2190
	TeletoX	3726
	TeletoY	2223
	TeletoZ	20
}

logout minocbank
{
	MinX		2494
	MaxX		2512
	MinY		542
	MaxY		564
	TeletoX	2475
	TeletoY	399
	TeletoZ	15
}

